<div>
  <a href="/contacts" class="<%= isActiveRoute("contacts", route) %>"
    >Contacts</a
  >
  <a href="/contacts/add" class="<%= isActiveRoute("add", route) %>">Add new</a>
  <a href="/contacts/search" class="<%= isActiveRoute("search", route) %>">Search</a>
  <a href="/users/signout">Log out</a>
</div>
